{% extends "base.html" %} {% load static %} {% block content %}
<!-- main-content -->
<div class="main-content">
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <div class="panel mb-g">
        <div class="panel-heading">
          <h3>Add Team Members</h3>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="panel-body">
            <form class="add-product">
              <div class="row g-lg-4 g-2 align-items-center">
                <div class="col-sm-4">
                  <label for="AddProduct">Image :</label>
                </div>
                <div class="col-sm-8">
                  <input
                    type="file"
                    id="AddProduct"
                    name="{{ myteam.image.name }}"
                    value="{{ myteam.initial.image }}"
                    class="form-control form-control-lg"
                    accept=".jpg,.jpeg,.png"
                    multiple
                  />Image Path : {{ myteam.initial.image }}
                </div>

                <div class="col-sm-4">
                  <label for="ProductName"> Name :</label>
                </div>
                <div class="col-sm-8">
                  <input
                    type="text"
                    id="ProductName"
                    name="{{ myteam.name.name }}"
                    value="{{ myteam.initial.name }}"
                    class="form-control form-control-lg"
                  />
                </div>

                <div class="col-sm-4">
                  <label for="ProductDscr">Post :</label>
                </div>
                <div class="col-sm-8">
                  <input
                  type="text"
                    name="{{ myteam.post.name }}"
                    value="{{ myteam.initial.post }}"
                    id="ProductDscr"
                    class="form-control form-control-lg">
                </div>

                <div class="col-12">
                  <div class="btn-box justify-content-end">
                    <input
                      type="reset"
                      class="btn btn-secondary"
                      value="Reset"
                    />
                    <input
                      type="submit"
                      value="Add"
                      class="btn btn-primary"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- main-content -->

{% endblock %}
