{% extends "base.html" %}
{% load static %}
{% block content %}
        <!-- main-content -->
        <div class="main-content">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="panel mb-g">
                        <div class="panel-heading">
                            <h3>Manage Quotation</h3>
                        </div>
                        <div class="panel-body">
                            <div class="ecommerce-table">
                                <div class="table-top-control mb-g">
                                    <div class="row g-lg-4 g-md-3 g-sm-2 g-3">
                                        <div class="col-sm-6" id="tableRowConut"></div>
                                        <div class="col-sm-6" id="tableSearch" ></div>
                                    </div>
                                </div>
                                <table id="myTable" class="table data-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Quotation Header</th>
                                            <th scope="col">Consignee Name</th>
                                            <th scope="col">PI No</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Clearing Port</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">Exchange Rate</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      {% for vq in view_quotation %}
                                        <tr>
                                            <td>{{vq.id}}</td>
                                            <td>{{vq.quotation_header}}</td>
                                            <td>{{vq.consignee_name}}</td>
                                            <td>{{vq.pi_no}}</td>
                                            <td>{{vq.date}}</td>
                                            <td>{{vq.clearing_port}}</td>
                                            <td>{{vq.product_name}}</td>
                                            <td>{{vq.exchange_rate}}</td>
                                            <td>
                                                <div class="btn-box">
                                                    <a href="/employee_quotation_fulldetails/{{ vq.id }}" class="btn btn-sm btn-secondary text-white"><i class="bi bi-eye-fill"></a></i> 
                                                    <a href="/employee_update_quotation/{{ vq.id }}" class="btn btn-sm btn-success text-white"><i class="bi bi-pencil-square"></a></i>
                                                    <a href="/employee_delete_quotation/{{ vq.id }}" class="btn btn-sm btn-danger text-white"><i class="bi bi-trash"></a></i>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>

                                <!-- <button class="btn btn-sm btn-success text-white"><a href="{% url 'download_excel_data' %}">download sales report to excel</a></button> -->
                                
                                <div class="table-bottom-control"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-content -->

{% endblock %}