{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- main-content -->
<div class="main-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="panel mb-g">
                <div class="panel-heading">
                    <h3>Manage Employee</h3>
                </div>
                
                <div class="panel-body">
                    <div class="ecommerce-table">
                        <div class="table-top-control mb-g">
                            <div class="row g-lg-4 g-md-3 g-sm-2 g-3">
                                <div class="col-sm-6" id="tableRowConut"></div>
                                <div class="col-sm-6" id="tableSearch" ></div>
                            </div>
                        </div>
                        <table id="myTable" class="table data-table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Image</th>
                                            <th scope="col">Branch</th>
                                            <!-- <th scope="col">Manager Name</th> -->
                                            <th scope="col">Joinning Date</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last name</th>
                                            <th scope="col">Surname</th>
                                            <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ve in viewemp %}
                                <tr>
                                    <td>{{ve.id}}</td>
                                    <td><img src="{{ ve.image.url }}" alt="{{ ve.image }}" width="100px" height="100px"></td>
                                            <td>{{ve.branch_details.name}}({{ve.branch_details.code}})</td>
                                            <!-- <td>{{ve.manager_details.fname}} {{ve.manager_details.lname}} {{ve.manager_details.surname}}</td> -->
                                            <td>{{ve.joinningdate}}</td> 
                                            <td>{{ve.fname}}</td> 
                                            <td>{{ve.lname}}</td> 
                                            <td>{{ve.surname}}</td> 
                                            <td>
                                                <div class="btn-box">
                                                    <a href="/view_employee_fulldetails/{{ ve.id }}" class="btn btn-sm btn-secondary text-white"><i class="bi bi-eye-fill"></a></i>
                                                    <a href="/update_employee/{{ ve.id }}" class="btn btn-sm btn-success text-white"><i class="bi bi-pencil-square"></a></i>
                                                    <a href="/delete_employee/{{ ve.id }}" class="btn btn-sm btn-danger text-white"><i class="bi bi-trash"></a></i>
                                                </div>
                                            </td>
                                </tr>
                               {% endfor %}
                                
                            </tbody>
                        </table>
                        <div class="table-bottom-control"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main-content -->


<!-- <script>
    $(document).ready(function() {
       
        // Debugging: Check if messages are present in the console
        console.log('Messages length: ' + $('.messages li').length);

        var messages = $('.messages li');
        if (messages.length > 0) {
            messages.each(function() {
                var messageText = $(this).text();
                console.log('Alerting message: ' + messageText);
                alert(messageText);
            });
        } else {
            console.log('No messages found.');
        }
    });
</script> -->

{% endblock %}