{% extends "base.html" %}
{% load static %}
{% block content %}
        <!-- main-content -->
        <div class="main-content">
            <div class="row">
               <div class="col-xl-12">
                
                    <div class="panel mb-g">
                        <div class="panel-heading">
                            <h3>Register Manager</h3>
                        </div>

                        <div id="popup-message" style="display: none; padding: 15px; margin-bottom: 10px; border-radius: 5px;" class="alert"></div>
    <!-- Main Content -->
   
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="panel-body">
                                <div class="row g-lg-4 g-2 align-items-center">
                        
                                    <h3 class="text-center"><u>Branch Details :</u></h3>
                                    
                                        <div class="col-sm-2 text-center">
                                            <label for="branch_details">Branch:</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <select name="branch_details" id="branch_details" required class="form-select form-control form-control-lg">
                                                <option value="" disabled {% if not emp or not emp.instance.branch_details %}selected{% endif %}>Select Branch</option>
                                                {% for branches in view_branchdata %}
                                                    <option value="{{ branches.id }}" {% if emp and branches.id == emp.instance.branch_details.id %}selected{% endif %}>
                                                        {{ branches.name }} ({{ branches.code }})
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="col-sm-2 text-center">
                                            <label for="branch_details">Role:</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group has-icon-left">
                                                <select name="role" id="Category" required class="form-select form-control form-control-lg">
                                                    <option value="" disabled selected>Select Your Role</option>
                                                    <option value="Admin">Admin</option>
                                                    <option value="Manager">Manager</option>
                                                    <option value="Employee">Employee</option>
                                                </select>
                                            </div>
                                        </div>
                                    <hr>
                        
                                    <h3 class="personal-details text-center"><u>Credential :</u></h3>
                                    <div class="col-sm-2 text-center">
                                        <label for="username">User Name :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="username" name="username" value="{{ regm.instance.username|default_if_none:'' }}" class="form-control form-control-lg" required>
                                    </div>
                        
                                    <div class="col-sm-2 text-center">
                                        <label for="password">Password :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="password" name="password" value="{{ regm.instance.password|default_if_none:'' }}" class="form-control form-control-lg" required>
                                    </div>
                                    <hr>
                        
                                    <h3 class="personal-details text-center"><u>Personal Details :</u></h3>
                                    <div class="col-sm-2 text-center">
                                        <label for="image">Image :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="file" id="image" name="image" class="form-control form-control-lg" accept=".jpg,.jpeg,.png" {% if not regm.instance.image %}required{% endif %}>
                                        {% if regm.instance.image %}
                                            <div class="mb-3">
                                                <p>Current Image: <a href="{{ regm.instance.image.url }}" target="_blank">{{ regm.instance.image.url }}</a></p>
                                            </div>
                                        {% endif %}
                                    </div>
                        
                                    <div class="col-sm-2 text-center">
                                        <label for="joinningdate">Joining Date :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="date" id="joinningdate" name="joinningdate" value="{{ regm.instance.joinningdate|date:'Y-m-d'|default_if_none:'' }}" class="form-control form-control-lg" required>
                                    </div>
                        
                                    <div class="col-sm-2 text-center">
                                        <label for="fname">First Name :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="fname" name="fname" value="{{ regm.instance.fname|default_if_none:'' }}" class="form-control form-control-lg" required>
                                    </div>
                        
                                    <div class="col-sm-2 text-center">
                                        <label for="lname">Middle Name :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="lname" name="lname" value="{{ regm.instance.lname|default_if_none:'' }}" class="form-control form-control-lg" required>
                                    </div>
                        
                                    <div class="col-sm-2 text-center">
                                        <label for="surname">Surname :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="surname" name="surname" value="{{ regm.instance.surname|default_if_none:'' }}" class="form-control form-control-lg" required>
                                    </div>
                        
                                    <div class="col-sm-2 text-center">
                                        <label for="gender">Gender :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input class="form-check-input" type="radio" name="gender" id="gender_female" value="female" {% if regm.instance.gender == 'female' %}checked{% endif %} required>
                                        <label class="form-check-label me-3 " for="gender_female">Female</label>
                                        <input class="form-check-input" type="radio" name="gender" id="gender_male" value="male" {% if regm.instance.gender == 'male' %}checked{% endif %} required>
                                        <label class="form-check-label" for="gender_male">Male</label>
                                    </div>
                        
                                    <div class="col-sm-2 text-center">
                                        <label for="birthdate">Date Of Birth :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="date" id="birthdate" name="birthdate" value="{{ regm.instance.birthdate|date:'Y-m-d'|default_if_none:'' }}" class="form-control form-control-lg" required>
                                    </div>
                                
                                    <div class="col-sm-2 text-center">
                                        <label for="email">Email :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="email" id="email" name="email" value="{{ regm.instance.email|default_if_none:'' }}" class="form-control form-control-lg" required>
                                    </div>
                                    
                                    <div class="col-sm-2 text-center">
                                        <label for="mobile">Mobile No:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="tel" id="mobile" name="mobile" value="{{ regm.instance.mobile|default_if_none:'' }}" maxlength="20" class="form-control form-control-lg" required>
                                    </div>
                        
                                    <div class="col-sm-2 text-center">
                                        <label for="address">Address :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <textarea rows="2" id="address" name="address" class="form-control form-control-lg" required>{{ regm.instance.address|default_if_none:'' }}</textarea>
                                    </div>
                                  
                                    <div class="col-12">
                                        <div class="btn-box justify-content-end">
                                            <input type="reset" class="btn btn-secondary" value="Reset">
                                            <input type="submit" value="Add" class="btn btn-primary">
                                        </div>
                                    </div> 
                                    
                                </div>
                            </div>
                        </form>
                    </div>
               </div>

            </div>
        </div>

        
        <!-- main-content -->

        

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function() {
            // Check if there are any Django messages
            {% if messages %}
                var message = "{{ messages|first }}"; // Get the first message
                var tags = "{{ messages|first.tags }}"; // Get message tags like success or error
                
                // Show the message in the popup container
                var popup = $('#popup-message');
                popup.text(message);
                popup.addClass('alert-' + tags);  // Add Bootstrap alert class based on tags (e.g., alert-success, alert-danger)
                popup.show();
    
                // Hide the popup message after a few seconds (optional)
                setTimeout(function() {
                    popup.fadeOut();
                }, 5000); // Adjust timeout as needed
            {% endif %}
        });
    </script>
        
{% endblock %}